@font-face {
    font-family: "en";
    src: url("../asset/font/en.otf");
}

.window {
    & {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: "en", "Trebuchet MS", "微軟雅黑", "微软雅黑", "Microsoft YaHei";
        overflow: hidden;
    }

    .router-view {
        & {
            flex: 1;
            display: flex;
            flex-direction: row;
        }
    }
}
