.frame {
    & {
        flex: 1;
        background: #fff;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }

    .content {
        & {
            flex: 1;
        }
    }
}

.control-bar {
    & {
        height: 32px;
        background: #e1e1e1;
    }
}

.main-window {
    & {
        background: #eee;
    }
}
